[Unit]
Description=FFmpeg Streaming Service
After=network.target

[Service]
Type=simple
User=root
Group=root
Restart=always
RestartSec=5s
TimeoutStopSec=5s
KillMode=control-group

ExecStart=/usr/bin/ffmpeg \
  -f alsa -i hw:0 \
  -c:a aac -b:a 160k -ac 2 -ar 44100 \
  -af "bandpass=f=120:width_type=h:w=700" \
  -map 0:a \
  -f dash -seg_duration 2 -streaming 1 -remove_at_exit 1 \
  -use_template 1 -use_timeline 1 \
  -adaptation_sets "id=0,streams=a" \
  "/var/www/dash/stream.mpd"


[Install]
WantedBy=multi-user.target