body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #333;
        /* Dark grey background */
        color: #f1c40f;
        /* Light yellow text */
}

a {
    padding: 5px;
    background-color: #888;
    color: #f1c40f;
    text-decoration: none;
    border-radius: 2px;
    font-size: 14px;
}

input,
select,
button,
textarea,
.form-input {
    font-size: 20px;
    /* Default font size */
    background-color: #444;
    /* Slightly lighter grey for inputs */
    color: #f1c40f;
    /* Light yellow text */
    /* border: none;
    padding: 10px;
    margin: 5px; */
}

/* Larger font sizes for mobile devices */
@media (max-width: 768px) {

    input,
    select,
    button,
    textarea,
    .form-input {
        font-size: 28px;
        /* Larger font size for better readability on mobile */
    }
}

@media print {
    body {
        color: black;
        /* Ensure text is black for printing */
        background: white;
        /* White background for printing */
        font-size: 12px;
    }

        input,
        select,
        button,
        textarea,
        .form-input,
                a,
        button {
        display: none;
        /* Hide buttons when printing */
    }

    .event-item {
        color: black;
        /* Override any color styling for printing */
        font-size: 12px;
    }

}

/* Non-printing styles can go here */